# -----------------------------------------------------------------------------
# Versión instalada
# -----------------------------------------------------------------------------

LICS_VERSION=0.1.0-alpha


# -----------------------------------------------------------------------------
# PostgreSQL
# -----------------------------------------------------------------------------

POSTGRES_DB=lics
POSTGRES_USER=lics
POSTGRES_PASSWORD=REEMPLAZAR_CON_CONTRASENA_ALEATORIA
POSTGRES_HOST=postgres
POSTGRES_PORT=5432


# -----------------------------------------------------------------------------
# Django
# -----------------------------------------------------------------------------

DJANGO_SETTINGS_MODULE=config.settings.production
DJANGO_SECRET_KEY=REEMPLAZAR_CON_CLAVE_ALEATORIA
DJANGO_DEBUG=False

DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost,http://127.0.0.1

DJANGO_LOG_LEVEL=INFO
DJANGO_DB_CONN_MAX_AGE=60

DJANGO_SECURE_SSL_REDIRECT=False
DJANGO_SESSION_COOKIE_SECURE=False
DJANGO_CSRF_COOKIE_SECURE=False
DJANGO_SECURE_HSTS_SECONDS=0

# -----------------------------------------------------------------------------
# Exposición local
# -----------------------------------------------------------------------------

HTTP_PORT=80
